.contactBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactBody .contactinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contactBody .contactinfo .detailBox {
  width: 350px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  padding: 30px;
  margin-right: 20px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 5px solid var(--theme-color);
}

.contactBody .contactinfo .detailBox img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.contactBody .contactinfo .detailBox div h4 {
  color: black;
}

.contactBody .contactinfo .detailBox div span {
  font-size: small;
  color: #00000091;
}

.contactBody .messageBox {
  width: 760px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 4px;
  box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
  padding: 50px;
}

.contactBody .messageBox h1 {
  color: black;
}

.contactBody .messageBox input {
  outline: none;
  color: black;
  border: none;
}

.contactBody .messageBox input:not(.sendButton) {
  box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
}

.contactBody .messageBox .fromInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 30px;
}

.contactBody .messageBox .fromInfo input {
  height: 40px;
  margin-right: 20px;
  width: 200px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-indent: 15px;
  background-color: white;
  border-left: 5px solid var(--theme-color);
}

.contactBody .messageBox .messageArea {
  margin-bottom: 20px;
  max-width: 640px;
  max-height: 130px;
  min-width: 640px;
  min-height: 130px;
  border-radius: 5px;
  text-indent: 15px;
  background-color: white;
  outline: none;
  color: black;
  border: none;
  box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 5px solid var(--theme-color);
}

.contactBody .messageBox .sendButton {
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: #00bcd4;
}
@media all and (orientation: portrait) {
  .contactBody {
    margin-bottom: 310px;
  }
  .contactBody .contactinfo {
    flex-direction: column;
    margin-top: 260px;
    margin-bottom: 50px;
  }
  .contactBody .contactinfo .detailBox {
    width: 300px;
    margin-right: 0;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .contactBody .messageBox {
    align-items: center;
    box-shadow: none;
  }
  .contactBody .messageBox h1 {
    align-self: left;
  }
  .contactBody .messageBox .fromInfo {
    flex-direction: column;
    justify-content: space-between;
  }
  .contactBody .messageBox .fromInfo input {
    width: 300px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contactBody .messageBox .messageArea {
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
  }
  .contactBody .messageBox .sendButtonBox {
    display: flex;
    justify-content: center;
  }
}
