:root {
  --left: 44%;
  --top: 50%;
  --anim-left: 58.5%;
  --stroke-left: 10px;
  --stroke-portrait: 10px;
}
.Loading {
  display: block;
  background-color: white;
}
.Loading .center {
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%) rotate(292deg);
  animation: animates 5s linear infinite;
  animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
}
.Loading .pencil {
  width: 300px;
  height: 34px;
  background: #ffc334;
  border-top: 10px solid #ffd268;
  border-bottom: 10px solid #e2af38;
}
.Loading .pencil p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 8px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d09200;
}
.Loading .pencil::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 0;
  border-style: solid;
  border-color: transparent #e29663 transparent transparent;
  border-width: 17px 40px 17px;
}
.Loading .pencil::after {
  content: "";
  position: absolute;
  left: -80px;
  top: 0;
  border-style: solid;
  border-color: transparent #262626 transparent transparent;
  border-width: 17px 40px 17px;
  transform: scale(0.3);
}
.Loading .top {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 30px;
  background: #ccc;
  border-top: 20px solid #dedede;
  border-bottom: 10px solid #b9bfbf;
}
.Loading .top::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -100%;
  width: 150%;
  height: 14px;
  background: #d76f6e;
  border-top: 10px solid #da8eda;
  border-bottom: 10px solid #c85957;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.Loading .stroke {
  width: 200px;
  height: 2px;
  background: #262626;
  position: absolute;
  top: calc(var(--top) + 175px);
  left: calc(var(--left) + 29px);
  transform: translate(-50%, -50%);
  border: none;
}
.Loading .stroke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animate-stroke 5s linear infinite;
  animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
}

@keyframes animes-stroke {
  0% {
    left: 0;
  }
  50% {
    left: calc(40% + var(--stroke-portrait));
  }
  100% {
    left: 0;
  }
}

@keyframes anime {
  0% {
    left: 40%;
  }
  50% {
    left: 64.5%;
  }
  100% {
    left: 40%;
  }
}
@keyframes animates {
  0% {
    left: var(--left);
  }
  50% {
    left: var(--anim-left);
  }
  100% {
    left: var(--left);
  }
}

@keyframes animate-stroke {
  0% {
    left: 0;
  }
  50% {
    left: calc(var(--anim-left) + var(--stroke-left));
  }
  100% {
    left: 0;
  }
}
@media screen and (max-width: 1442px) {
  :root {
    --anim-left: 58%;
    --stroke-left: 85px;
  }
}
@media screen and (max-width: 1025px) {
  :root {
    --stroke-left: 30.5px;
    --anim-left: 58.5%;
  }
}
@media screen and (max-width: 770px) {
  :root {
    --stroke-left: -5px;
  }
}
@media screen and (max-width: 426px) {
  :root {
    --stroke-portrait: 27px;
  }
  .Loading .stroke {
    left: calc(var(--left) + 35px);
  }
}
@media screen and (max-width: 376px) {
  :root {
    --stroke-portrait: 15px;
  }
  .Loading .stroke {
    left: calc(var(--left) + 37px);
  }
}
@media screen and (max-width: 322px) {
  :root {
    --stroke-portrait: 2px;
  }
  .Loading .stroke {
    left: calc(var(--left) + 39px);
  }
}
@media all and (orientation: portrait) {
  .Loading .center {
    top: var(--top);
    left: var(--left);
    animation: anime 5s linear infinite;
    animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
  }
  .Loading .stroke {
    top: calc(var(--top) + 115px);
  }
  .Loading .pencil {
    width: 170px;
  }
  .Loading .pencil p {
    text-align: left;
    text-indent: 10px;
  }
  .Loading .stroke::before {
    animation: animes-stroke 5s linear infinite;
    animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
  }
}
