.DetailBox-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Detail-Container {
  color: black;
  width: 85%;
  height: 90%;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Detail-Container .aboutBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Detail-Container .aboutBox h1 {
  color: black;
  border-bottom: 2px solid var(--theme-color);
}

.Detail-Container .aboutBox .iLogoBox {
  height: 50px;
  width: 50px;
}
.Detail-Container .aboutBox .iLogoBox img {
  height: 100%;
  width: 100%;
}

.Detail-Container .introBox {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Detail-Container .introBox h1 {
  color: black;
  border-left: 2px solid var(--theme-color);
  padding-left: 5px;
}
.Detail-Container
  .introBox
  h1:not(.Detail-Container .introBox h1:nth-child(1)) {
  margin-top: 10px;
  margin-left: 5px;
}
.Detail-Container .introBox p {
  color: black;
  font-family: system-ui;
  margin-top: 10px !important;
  margin-left: 20px !important;
}
.Detail-Container .introBox p:first-of-type {
  margin-top: 5px !important;
  margin-left: 5px !important;
}
.Detail-Container .introBox p a {
  color: black;
  font-family: system-ui;
}
.Detail-Container .tableBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Detail-Container .tableBox h1 {
  color: black;
  border-left: 2px solid var(--theme-color);
  padding-left: 5px;
}
.Detail-Container .tableBox div {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Detail-Container .tableBox div h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
}
.Detail-Container .tableBox .table {
  display: grid;
  grid-template-columns: 125px 125px 125px 215px;
  grid-template-rows: 25px 25px 25px;
  margin-left: 5px;
}

.Detail-Container .tableBox .table p {
  border: 1px solid black;
  color: black;
  font-family: system-ui;
  text-align: center;
}

.Detail-Container .dateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail-Container .dateBox h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
  color: black;
  border-left: 2px solid var(--theme-color);
  padding-left: 5px;
}
.Detail-Container .dateBox .table {
  display: grid;
  grid-template-columns: 200px 125px;
  grid-template-rows: 25px 25px 25px;
  margin-left: 5px;
}

.Detail-Container .dateBox .table p {
  border: 1px solid black;
  color: black;
  font-family: system-ui;
  text-align: center;
}

.Detail-Container .feeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail-Container .feeBox h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
  color: black;
  border-left: 2px solid var(--theme-color);
  padding-left: 5px;
}
.Detail-Container .feeBox .table {
  display: grid;
  grid-template-columns: 120px 100px;
  grid-template-rows: 25px 25px 25px;
  margin-left: 5px;
}

.Detail-Container .feeBox .table p {
  border: 1px solid black;
  color: black;
  font-family: system-ui;
  text-align: center;
}

.Detail-Container.skeleton .SkeletonContentBox .SK .SKN,
.Detail-Container.skeleton .aboutBox .iLogoBox,
.Detail-Container.skeleton .aboutBox h1 {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.Detail-Container.skeleton .SkeletonContentBox .SK .SKN::before,
.Detail-Container.skeleton .aboutBox .iLogoBox::before,
.Detail-Container.skeleton .aboutBox h1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #d9d9d9 0%,
    rgba(0, 0, 0, 0.05) 20%,
    #d9d9d9 40%,
    #d9d9d9 100%
  );
  background-size: 450px 400px;
  background-repeat: no-repeat;
  animation: skimmer 1s linear infinite;
}

.Detail-Container.skeleton .aboutBox h1 {
  width: 400px;
  height: 25px;
}

.Detail-Container.skeleton .aboutBox .iLogoBox {
  border-radius: 50%;
}

.Detail-Container.skeleton .SkeletonContentBox {
  width: 100%;
  height: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Detail-Container.skeleton .SkeletonContentBox .SK {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.Detail-Container.skeleton .SkeletonContentBox .SK .SKN.G1 {
  width: 135px;
  height: 25px;
}

.Detail-Container.skeleton .SkeletonContentBox .SK .SKN.G2 {
  width: 300px;
  height: 40px;
}

.Detail-Container::-webkit-scrollbar {
  width: 7px;
}

.Detail-Container::-webkit-scrollbar-track {
  background-color: #e6e9ef;
}

.Detail-Container::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
}
@media all and (orientation: portrait) {
  .Detail-Container {
    width: 100% !important;
    height: 100% !important;
    box-shadow: none;
    border: none;
  }
  .Detail-Container.skeleton .SkeletonContentBox {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
  .Detail-Container.skeleton .SkeletonContentBox .SK.N4 {
    display: none;
  }
  .Detail-Container.skeleton .aboutBox h1 {
    width: 200px;
    height: 25px;
  }
}
