.mainBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBox {
  background-color: white;
  width: 800px;
  /* height: 530px; */
  height: 395px;
  border-radius: 10px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

.mainBox .inputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.mainBox .inputBox h1 {
  color: black;
  font-size: xx-large;
  margin-bottom: 10px;
  cursor: default;
}

.mainBox .inputBox .SignCB:not(.submitbox, .alreadyreg) {
  width: 210px;
  height: 45px;
  border-bottom: 2px solid #888;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mainBox .inputBox .SignCB div {
  width: 20px !important;
  height: 15px !important;
  user-select: none !important;
  margin-right: 10px !important;
}

.mainBox .inputBox .SignCB svg {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  user-select: none;
}

.mainBox .inputBox .SignCB img {
  width: 20px !important;
  height: 15px !important;
  user-select: none !important;
}

.mainBox .inputBox div input {
  color: black;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: white;
}

.mainBox .inputBox div .submitbutton {
  background-color: #2196f3;
  width: 110px;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
}

.mainBox .inputBox .alreadyreg a {
  color: black;
  text-decoration: none;
}

.mainBox .picBox {
  display: block;
  /* width: 300px; */
  width: 388px;
  position: relative;
  top: 2px;
  right: -100px;
}

.mainBox .picBox img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media all and (orientation: portrait) {
  .mainBox {
    width: 330px;
    height: 460px;
    justify-content: center;
    flex-direction: column;
  }
  .mainBox .inputBox {
    align-items: center;
  }
  .mainBox .picBox {
    text-align: center;
  }
  .mainBox .picBox div img {
    display: none !important;
  }
}
@media screen and (max-width: 420px) {
  .mainBox {
    width: 330px !important;
    height: 460px !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .mainBox .inputBox {
    align-items: center !important;
  }
  .mainBox .picBox {
    text-align: center !important;
  }
  .mainBox .picBox div img {
    display: none !important;
  }
}
